/* DejaVu Serif fonts */
@font-face {
  font-family: 'DejaVu Serif';
  src: url('/fonts/DejaVuSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('/fonts/DejaVuSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('/fonts/DejaVuSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('/fonts/DejaVuSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* DejaVu Sans fonts */
@font-face {
  font-family: 'DejaVu Sans';
  src: url('/fonts/DejaVuSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('/fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('/fonts/DejaVuSans-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('/fonts/DejaVuSans-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
}

/* DejaVu Sans Mono fonts */
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejaVuSansMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejaVuSansMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejaVuSansMono-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejaVuSansMono-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DejaVu Serif', serif;
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 3px double #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DejaVu Sans', sans-serif;
}

p {
  line-height: 2.3rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

pre {
  overflow-x: auto;
}

code {
  font-family: 'DejaVu Sans Mono', 'Fira Mono', monospace;
}

a {
  color: #000;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  color: #000;
  text-decoration: none;
}

ul.post-list {
  list-style-type: none;
  padding-left: 0;
}

ul.post-list span.post-date {
  color: #555;
  font-style: italic;
}

.sourceCode span.kw {
  color: #262C6A
}

.sourceCode span.dt {
  color: #476A97
}

.sourceCode span.dv {
  color: #262C6A
}

.sourceCode span.bn {
  color: #262C6A
}

.sourceCode span.fl {
  color: #262C6A
}

.sourceCode span.ch {
  color: #262C6A
}

.sourceCode span.st {
  color: #702C51
}

.sourceCode span.co {
  color: #435138
}

.sourceCode span.ot {
  color: #262C6A
}

.sourceCode span.al {
  color: red
}

.sourceCode span.fu {
  color: #000000
}

.sourceCode span.re {
  color: #000000
}

.sourceCode span.er {
  color: red
}


@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
